<section class="page-wrapper">
    <mat-card class="articles"
              [attr.color]="'primary'">
        <mat-card-header>
            <mat-card-title>
                <h1>
                    Articles
                </h1>
            </mat-card-title>
        </mat-card-header>
        <mat-divider inset></mat-divider>
        <mat-card-content>
            <ng-container *ngIf="errors$ | async">
                <div *ngFor="let error of errors$ | async">
                    {{error | json}}
                </div>
            </ng-container>
            <div *ngIf="loading$ | async">Loading...</div>
            <ng-container *ngIf="!(loading$ | async)">
                <div *ngFor="let article of articles$ | async">
                    {{article | json}}
                </div>
            </ng-container>
        </mat-card-content>
    </mat-card>
</section>
