<mat-sidenav-container class="sidenav-container"
                       *ngIf="(state$ | async) as state"
                       autosize>
    <mat-sidenav #drawer
                 [attr.color]="'primary'"
                 class="sidenav"
                 fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 mode="side"
                 [opened]="isLeftDrawerOpen$ | async">
        <mat-toolbar color="accent">{{state.isLeftDrawerOpen && (!state.isMedium || state.isExpanded) ? 'Manhattanman' :
            'M'}}
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item
               [routerLink]="routes['ARTICLES']"
               routerLinkActive="router-link-active">
                <mat-icon mat-list-icon>assignment</mat-icon>
                <span *ngIf="state.isLeftDrawerOpen && (!state.isMedium || state.isExpanded)">Articles</span>
            </a>
            <a mat-list-item
               [routerLink]="routes['CATEGORIES']"
               routerLinkActive="router-link-active">
                <mat-icon mat-list-icon>category</mat-icon>
                <span *ngIf="state?.isLeftDrawerOpen && (!state.isMedium || state.isExpanded)">Categories</span>
            </a>
            <a mat-list-item
               [routerLink]="routes['TAGS']"
               routerLinkActive="router-link-active">
                <mat-icon mat-list-icon>domain</mat-icon>
                <span *ngIf="state.isLeftDrawerOpen && (!state.isMedium || state.isExpanded)">Tags</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav [opened]="state.isRightDrawerOpen"
                 position="end"
                 [attr.color]="'primary'"
                 class="leftSidenav"
                 fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 mode="over">
        <app-create-article *ngIf="state.leftDrawerComponent === leftDrawerComponents['createArticle']">
        </app-create-article>
        <app-update-article *ngIf="state.leftDrawerComponent === leftDrawerComponents['updateArticle']">
        </app-update-article>
        <app-create-category *ngIf="state.leftDrawerComponent === leftDrawerComponents['createCategory']">
        </app-create-category>
        <app-update-category *ngIf="state.leftDrawerComponent === leftDrawerComponents['updateCategory']">
        </app-update-category>
        <app-create-tag *ngIf="state.leftDrawerComponent === leftDrawerComponents['createTag']">
        </app-create-tag>
        <app-update-tag *ngIf="state.leftDrawerComponent === leftDrawerComponents['updateTag']">
        </app-update-tag>
    </mat-sidenav>
    <mat-sidenav-content [attr.color]="'accent'">
        <mat-toolbar color="primary">
            <button type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    class="toggle-menu"
                    (click)="onClick({
                  isExpanded: state.isExpanded || false,
                  isOpen: state.isLeftDrawerOpen || false,
                  isMedium: state.isMedium || false
              })">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="spacer"></span>
            <form class="search-container"
                  [formGroup]="searchForm">
                <mat-form-field appearance="outline"
                                floatLabel="always"
                                class="search-bar"
                                [class]="isSearchActivated ? 'active' : null">
                    <input matInput
                           formControlName="searchInput"
                           placeholder="Type your search and hit enter...">
                </mat-form-field>
                <button type="button"
                        (click)="isSearchActivated = !isSearchActivated"
                        aria-label="Toggle search"
                        color="accent"
                        mat-icon-button
                        class="search-icon">
                    <mat-icon aria-hidden="false"
                              aria-label="Toggle search button">search</mat-icon>
                </button>

            </form>
            <span class="spacer"></span>
            <button mat-icon-button
                    [matMenuTriggerFor]="createMenu"
                    aria-label="Create entities">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <mat-menu #createMenu="matMenu">
                <button mat-menu-item
                        (click)="openCreateArticleSidenav()">Create article</button>
                <button mat-menu-item
                        (click)="openCreateCategorySidenav()">Create category</button>
                <button mat-menu-item
                        (click)="openCreateTagSidenav()">Create tag</button>
            </mat-menu>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="toggleDarkTheme(state.isDark)"
                    aria-label="Toggle Dark Theme">
                <mat-icon>{{ state.isDark ? "dark_mode" : "light_mode"}}</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="logout()"
                    aria-label="Log out current user">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
